<h1>Listing Person Sims</h1>

<table class="table">
  <thead>
    <tr>
      <th>Custom</th>
      <th>Sim carte</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @people_sims.each do |people_sim| %>
      <tr>
        <td><%= people_sim.people %></td>
        <td><%= people_sim.sim_carte %></td>
        <td><%= people_sim.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>