<h1>Listing Sim Cartes</h1>

<table class="table table-striped table-bordered table-condensed" id="sims">
  <thead>
    <tr class="color1">
      <th>Numero</th>
      <th>Status</th>
      <th>Date activation</th>
    </tr>
  </thead>

  <tbody>
    <% @sim_cartes.each do |sim_carte| %>
      <tr>
        <td><%= sim_carte.numero %></td>
        <td><%= sim_carte.status %></td>
        <td><%= sim_carte.date_active %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>